---
import Layout from '../layouts/Layout.astro';
import  Navbar  from "../components/Navbar.astro";
import Carousel from '../components/Carousel.astro';
---

<Layout title="Welcome to Astro.">
	<Navbar/>
	<main>
		<Carousel/>
	</main>
</Layout>

<style>
</style>
