<div class="relative">
  <button id="prev" class="absolute min-w-8 bg-gray-500 p-2 text-black z-20 top-1/4 mx-2 left-3"> Hola</button>
  <button id="next" class="absolute min-w-8 bg-gray-500 p-2 text-black z-20 top-1/4 mx-2 right-3"> Hola</button>
  <ul id="carousel" class="flex overflow-y-hidden">
    <img src="" alt="" class="carousel-item" /><img
      src="./assets/header1.jpg"
      alt=""
      class="carousel-item"
    /><img src="" alt="" class="carousel-item" /><img
      src="./assets/header2.jpg"
      alt=""
      class="carousel-item"
    />
    <img src="" alt="" class="carousel-item" /><img
      src="./assets/header3.jpg"
      alt=""
      class="carousel-item"
    />
    <img src="" alt="" class="carousel-item" /><img
      src="./assets/header4.jpg"
      alt=""
      class="carousel-item"
    /><img src="" alt="" class="carousel-item" /><img
      src="./assets/header5.jpg"
      alt=""
      class="carousel-item"
    />
    <img src="" alt="" class="carousel-item" /><img
      src="/assets/header6.jpg"
      alt=""
      class="carousel-item"
    />
  </ul>
</div>
  <ul class="flex overflow-y-hidden">
    <img src="" alt="" class="carousel-item" /><img
      src="./assets/header1.jpg"
      alt=""
      class="carousel-item"
    /><img src="" alt="" class="carousel-item" /><img
      src="./assets/header2.jpg"
      alt=""
      class="carousel-item"
    />
    <img src="" alt="" class="carousel-item" /><img
      src="./assets/header3.jpg"
      alt=""
      class="carousel-item"
    />
    <img src="" alt="" class="carousel-item" /><img
      src="./assets/header4.jpg"
      alt=""
      class="carousel-item"
    /><img src="" alt="" class="carousel-item" /><img
      src="./assets/header5.jpg"
      alt=""
      class="carousel-item"
    />
    <img src="" alt="" class="carousel-item" /><img
      src="/assets/header6.jpg"
      alt=""
      class="carousel-item"
    />
  </ul>
</div>
<style>
  .carousel-item {
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
  }
</style>
<script>
    var carouselImgs=document.querySelectorAll('.carousel-item');
    var prevButton=document.getElementById('prev');
    var nextButton=document.getElementById('next');
  
    function ChangeImgs(){
    }

</script>