<footer class="bg-gray-800 ">   
  <nav class="grid grid-cols-4 place-item-center mx-auto w-[80%] mb-10">
    <div class="flex flex-col text-white mt-12">
        <p class="font-bold">Conocenos</p>
        <ul>
            <li class="my-2"><a href="#" class="text-sm hover:underline"> Trabaja en Amazon</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline"> Blog</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline"> Acerca de Amazon</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline">Relaciones con los Inversionistas</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline">Dispositivos de Amazon</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline">Amazon Science</a></li>
        </ul>
    </div>
   
    <div class="flex flex-col text-white mt-12">
        <p class="font-bold">Gana Dinero con Nosotros</p>
        <ul>
            <li class="my-2"><a href="#" class="text-sm hover:underline"> Vender Productos en Amazon</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline"> Vende en Amazon Business</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline"> Vender aplicaciones en Amazon</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline">Programa de Afiliados</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline">Anuncia tus Productos</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline">Publica tu libro en Kindle</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline">Habilita un Amazon Hub </a></li>
        </ul>
    </div>
    <div class="flex flex-col text-white mt-12">
        <p class="font-bold">Productos de Pago de Amazon</p>
        <ul>
            <li class="my-2"><a href="#" class="text-sm hover:underline"> Compra con Puntos</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline"> Recarga tu saldo</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline"> Conversor de divisas de Amazon</a></li>
        </ul>
    </div>
    <div class="flex flex-col text-white mt-12">
        <p class="font-bold">Podemos Ayudarte</p>
        <ul>
            <li class="my-2"><a href="#" class="text-sm hover:underline"> Amazon y el COVID-19</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline"> Tu cuenta</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline"> Tus Pedidos</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline">Tarifas de Envios y Politicas</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline">Devoluciones y Reemplazos</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline">Administrar contenido y dispositivos</a></li>
            <li class="my-2"><a href="#" class="text-sm hover:underline">Ayuda</a></li>
        </ul>
    </div>
  </nav>
  <div class="border-gray-500 mx-auto flex justify-between border-t-[1px] p-4">
    <img src="./assets/amazon_logo.png" alt="img_logo" width="80">
    <p class="text-white text-sm">Mi clon de Amazon</p>
  </div>
</footer>
