<nav class="flex items-center justify-between p-3 bg-gray-900">
    <a>
        <img src="/assets/amazon_logo.png" width="100" alt="amazon_logo">    
    </a>
    <div class="flex">
        <a class="mt-6 mr-1">
            <img src="/assets/location_icon.png" alt="location_icon" width="20" >
        </a>
    <div>
        <p>Delivering to Havana</p>
        <p class="font-bold">Cuba</p>
    </div>
    </div>
    <form class="xl:w-[600px] w-[1000px]">
        <div class="flex rounded-lg ">
            <select class="select" >
                <option class="p-4 mr-2">All</option>
            </select>
            <input type="text" placeholder="Search Amazon" class="w-full p-2">
            <button type="submit" class="bg-yellow-600 search flex justify-center" >
                <img src="/assets/search_icon.png" width="30">
            </button>
        </div>
    </form>
    <div>
        <img src="/assets/us_flag.png" alt="us_flag.png" width="30">
        <p></p>
    </div>
    <div>
        <p class="text-sm">Hello,sing in </p>
        <p class="flex items-center gap-1 font-bold">Account & Lists <span><img class="" src="/assets/dropdown_icon.png" alt="dropdown_icon" width="8"></span></p>
    </div>
    <div>
        <p class="text-sm">Returns <br><span class="font-bold">& Orders</span>  </p>
    </div>
    <div class="flex hover:border-white hover:boder-[1px] p-2">
        <img src="/assets/cart_icon.png" alt="cart_icon" width="40">
        <p class="font-bold mt-4">Carrito</p>
    </div>
    
</nav>
<div class="flex bg-gray-800 gap-2 max-h-14">
    <div class="flex justify-center items-center gap-2 m-2"><img src="/assets/menu_icon.png" alt="menu_icon" width="20">
    <p>All</p>
    </div>
    <ul class="flex  text-white ml-2 my-2 hover:[&>li]:border-white hover:[&>li]:border-[1px] [&>li]:p-2">
        <li class="h">Best Sellers</li>
        <li>Amazon Basic</li>
        <li>New Releases</li>
        <li>Registry</li>
        <li>Books</li>
    </ul>
</div>
<style>
    p{
        color: white;
    }
    .select{
        border-radius: 5px 0 0 5px;
        width:15%;  
        text-align:center;
    }
    .search{
        border-radius: 0 5px 5px 0;
        width:10%;
    }

</style>